{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- meta data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--font-family-->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Rufina:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    ></script>

    <!-- title of site -->
    <title>CarVilla</title>

    <!-- For favicon png -->
    <link
      rel="shortcut icon"
      type="image/icon"
      href="{% static 'assets/logo/favicon.png' %}"
    />

    <!--font-awesome.min.css-->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/annonce.css' %}" />

    <!--linear icon css-->
    <link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}" />

    <!--flaticon.css-->
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" />

    <!--animate.css-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />

    <!--owl.carousel.css-->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/owl.theme.default.min.css' %}"
    />

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- bootsnav -->
    <link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" />

    <!--style.css-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <!--responsive.css-->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
  </head>

  <body>
    <!--welcome-hero start -->
    <section id="home" class="welcome-hero">
      <!-- top-area Start -->
      <div class="top-area">
        <div class="header-area">
          <!-- Start Navigation -->
          <nav
            class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy"
            data-minus-value-desktop="70"
            data-minus-value-mobile="55"
            data-speed="1000"
          >
            <div class="container">
              <!-- Start Header Navigation -->
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target="#navbar-menu"
                >
                  <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"
                  >carvilla<span></span
                ></a>
              </div>
              {% if messages %}
              <div id="container">
                {% for message in messages %}
                <br />
                {% if message.tags == 'error' %}
                <p class="error-message">{{ message }}</p>
                {% elif message.tags == 'success' %}
                <p class="success-message">{{ message }}</p>
                {% endif %}
                <br />
                {% endfor %}
              </div>
              {% endif %}

              <style>
                .error-message {
                  color: #ff0000; /* Rouge pour les messages d'erreur */
                  font-weight: bold; /* Texte en gras pour les messages d'erreur */
                }

                .success-message {
                  color: #008000; /* Vert pour les messages de réussite */
                  font-weight: bold; /* Texte en gras pour les messages de réussite */
                }
              </style>
              <!--/.navbar-header-->
              <!-- End Header Navigation -->

              <!-- Collect the nav links, forms, and other content for toggling -->

              <div
                class="collapse navbar-collapse menu-ui-design"
                id="navbar-menu"
              >
                <ul
                  class="nav navbar-nav navbar-right"
                  data-in="fadeInDown"
                  data-out="fadeOutUp"
                >
                  <li class="scroll active"><a href="#home">home</a></li>
                  <li class="scroll"><a href="#service">service</a></li>
                  <!-- <li class="scroll">
                    <a href="#featured-cars">featured cars</a>
                  </li> -->
                  <li class="scroll"><a href="#new-cars">new cars</a></li>
                  <li class="scroll"><a href="#brand">brands</a></li>
                  <li class="scroll"><a href="#contact">contact</a></li>
                  {% if not user.is_authenticated %}
                  <li >
                    <a href="{% url 'annonce' %}">Creer annonce</a>
                  </li>
                  {% endif %}
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      {% if user.is_authenticated %} {{ request.user.username }}
                      {% else %}
                      <li><a href="{% url 'signin' %}">Connexion</a></li>
                      {% endif %}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      {% if user.is_superuser %}
                      <li><a href="{% url 'annonce' %}">Créer annonce</a></li>
                      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                      {% else %}
                      <li><a href="{% url 'annonce' %}">Créer annonce</a></li>
                      {% endif %}
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'signout' %}">Deconnexion</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <!-- /.navbar-collapse -->
            </div>
            <!--/.container-->
          </nav>
          <!--/nav-->
          <!-- End Navigation -->
        </div>
        <!--/.header-area-->
        <div class="clearfix"></div>
      </div>
      <!-- /.top-area-->
      <!-- top-area End -->

      <div class="container">
        <div class="welcome-hero-txt">
          <h2>get your desired car in resonable price</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="welcome-btn" onclick="window.location.href='#'">
            contact us
          </button>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="model-search-content">
              <div class="row">
                <div class="col-md-offset-1 col-md-2 col-sm-12">
                  <div class="single-model-search">
                    <h2>select year</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">year</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                      </select>
                    </div>
                  </div>
                  <div class="single-model-search">
                    <h2>body style</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">style</option>

                        <option value="sedan">sedan</option>

                        <option value="van">van</option>
                        <option value="roadster">roadster</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-2 col-sm-12">
                  <div class="single-model-search">
                    <h2>select make</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">make</option>
                        <option value="toyota">toyota</option>
                        <option value="holden">holden</option>
                        <option value="maecedes-benz">maecedes-benz.</option>
                      </select>
                    </div>
                  </div>
                  <div class="single-model-search">
                    <h2>car condition</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">condition</option>
                        <option value="something">something</option>
                        <option value="something">something</option>
                        <option value="something">something</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-1 col-md-2 col-sm-12">
                  <div class="single-model-search">
                    <h2>select model</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">model</option>
                        <option value="kia-rio">kia-rio</option>
                        <option value="mitsubishi">mitsubishi</option>
                        <option value="ford">ford</option>
                      </select>
                    </div>
                  </div>
                  <div class="single-model-search">
                    <h2>select price</h2>
                    <div class="model-select-icon">
                      <select class="form-control">
                        <option value="default">price</option>

                        <option value="$0.00">$0.00</option>

                        <option value="$0.00">$0.00</option>
                        <option value="$0.00">$0.00</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-12">
                  <div class="single-model-search text-center">
                    <button
                      class="welcome-btn model-search-btn"
                      onclick="window.location.href='#'"
                    >
                      search
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--new-cars start -->
    <section id="new-cars" class="new-cars">
      <div class="container">
        <div class="section-header">
          <p>checkout <span>the</span> latest cars</p>
          <h2>newest cars</h2>
        </div>
        <!--/.section-header-->
        <div class="new-cars-content">
          <div class="owl-carousel owl-theme" id="new-cars-carousel">
            <div class="new-cars-item">
              <div class="single-new-cars-item">
                <div class="row">
                  <div class="col-md-7 col-sm-12">
                    <div class="new-cars-img">
                      <img
                        src="{% static 'assets/images/new-cars-model/ncm1.png' %}"
                        alt="img"
                      />
                    </div>
                    <!--/.new-cars-img-->
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <div class="new-cars-txt">
                      <h2>
                        <a href="#">chevrolet camaro <span> za100</span></a>
                      </h2>
                      <p>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p class="new-cars-para2">
                        Sed ut pers unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium.
                      </p>
                      <button
                        class="welcome-btn new-cars-btn"
                        onclick="window.location.href='#'"
                      >
                        view details
                      </button>
                    </div>
                    <!--/.new-cars-txt-->
                  </div>
                  <!--/.col-->
                </div>
                <!--/.row-->
              </div>
              <!--/.single-new-cars-item-->
            </div>
            <!--/.new-cars-item-->
            <div class="new-cars-item">
              <div class="single-new-cars-item">
                <div class="row">
                  <div class="col-md-7 col-sm-12">
                    <div class="new-cars-img">
                      <img
                        src="{% static 'assets/images/new-cars-model/ncm2.png' %}"
                        alt="img"
                      />
                    </div>
                    <!--/.new-cars-img-->
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <div class="new-cars-txt">
                      <h2><a href="#">BMW series-3 wagon</a></h2>
                      <p>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p class="new-cars-para2">
                        Sed ut pers unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium.
                      </p>
                      <button
                        class="welcome-btn new-cars-btn"
                        onclick="window.location.href='#'"
                      >
                        view details
                      </button>
                    </div>
                    <!--/.new-cars-txt-->
                  </div>
                  <!--/.col-->
                </div>
                <!--/.row-->
              </div>
              <!--/.single-new-cars-item-->
            </div>
            <!--/.new-cars-item-->
            <div class="new-cars-item">
              <div class="single-new-cars-item">
                <div class="row">
                  <div class="col-md-7 col-sm-12">
                    <div class="new-cars-img">
                      <img
                        src="{% static 'assets/images/new-cars-model/ncm3.png' %}"
                        alt="img"
                      />
                    </div>
                    <!--/.new-cars-img-->
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <div class="new-cars-txt">
                      <h2><a href="#">ferrari 488 superfast</a></h2>
                      <p>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p class="new-cars-para2">
                        Sed ut pers unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium.
                      </p>
                      <button
                        class="welcome-btn new-cars-btn"
                        onclick="window.location.href='#'"
                      >
                        view details
                      </button>
                    </div>
                    <!--/.new-cars-txt-->
                  </div>
                  <!--/.col-->
                </div>
                <!--/.row-->
              </div>
              <!--/.single-new-cars-item-->
            </div>
            <!--/.new-cars-item-->
          </div>
          <!--/#new-cars-carousel-->
        </div>
        <!--/.new-cars-content-->
      </div>
      <!--/.container-->
    </section>
    <!--/.new-cars-->
    <!--new-cars end -->

    <!-- AFFICHAGE DES ANNONCES -->
    <!--featured-cars start -->
    <section id="featured-cars" class="featured-cars">
      <div class="container">
        <div class="section-header">
          <p>checkout <span>the</span> featured cars</p>
          <h2>featured cars</h2>
        </div>
        <!--/.section-header-->
        <div class="featured-cars-content">
          <div class="row">
            {% for annonce in annonces_approuvees %}
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="single-featured-cars">
                <div class="featured-img-box">
                  <div class="featured-cars-img">
                    {% if annonce.photo_voiture %}
                    <img
                      src="{{ annonce.photo_voiture.url }}"
                      alt="images de l'annonce"
                    />
                    {% else %}
                    <p>pas d'image disponible</p>
                    {% endif %}
                  </div>
                  <div class="row featured-model-info">
                    <div
                      class="card"
                      style="
                        display: grid;
                        flex-direction: column;
                        grid-template-columns: 2fr;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        column-gap: 50px;
                        min-height: 15vh;
                      "
                    >
                      {{ annonce.modele_voiture }}
                      <span class="featured-mi-span">
                        {{ annonce.body_style }}</span
                      >
                      <span class="featured-hp-span"> {{ annonce.color }}</span>
                      {{ annonce.type }}
                      <br />
                      <button
                        type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#commentModal{{ annonce.id }}"
                      >
                        Commenter
                      </button>
                    </div>
                  </div>
                </div>
                <div class="featured-cars-txt">
                  <h2><a href="#">{{ annonce.annonce }}</a></h2>
                  <h3>{{ annonce.prix_voiture }}$</h3>
                  <p>{{ annonce.description }}</p>
                  <!--afficher les commentaires  -->
                  <a
                    class="btn btn-collapse"
                    data-toggle="collapse"
                    href="#collapseExample{{ annonce.id }}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                  >
                    Voir les commentaires
                  </a>
                  <div
                    class="collapse collapse-content"
                    id="collapseExample{{ annonce.id }}"
                  >
                    <div class="card card-body">
                      {% if commentaire %}
                      <p>pas de commentaires</p>
                      <p>{% else %}</p>
                      {% for commentaire in annonce.commentaires.all %}
                      <ul>
                        <li>
                          <ol>
                            <li>{{ forloop.counter }}.</li>
                            <li>
                              {% if commentaire.utilisateur == request.user %}
                              <strong
                                >{{ commentaire.utilisateur.username }}</strong
                              >
                              {% else %} {{ commentaire.utilisateur.username }}
                              {% endif %}:
                            </li>
                          </ol>
                          {{ commentaire.contenu }}
                        </li>
                      </ul>
                      {% endfor %}
                      <p>{% endif %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="modal fade"
              id="commentModal{{ annonce.id }}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="commentModalLabel{{ annonce.id }}"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="commentModalLabel{{ annonce.id }}"
                    >
                      Ajouter un commentaire
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour ajouter un commentaire -->
                    <form
                      method="post"
                      action="{% url 'ajouter_commentaire' annonce.id %}"
                    >
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="annonce_id"
                        value="{{ annonce.id }}"
                      />
                      <input
                        type="text"
                        name="utilisateur"
                        value="{{ request.user.username}}"
                        readonly
                      />
                      <div class="form-group">
                        <label for="contenu">Commentaire</label>
                        <textarea
                          class="form-control"
                          id="contenu"
                          name="contenu"
                          rows="3"
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Ajouter
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>
      <!--/.container-->
    </section>
    <!--/.featured-cars-->
    <!--featured-cars end -->

    <!-- clients-say strat -->
    <section id="clients-say" class="clients-say">
      <div class="container">
        <div class="section-header">
          <h2>what our clients say</h2>
        </div>
        <!--/.section-header-->
        <div class="row">
          <div class="owl-carousel testimonial-carousel">
            <div class="col-sm-3 col-xs-12">
              <div class="single-testimonial-box">
                <div class="testimonial-description">
                  <div class="testimonial-info">
                    <div class="testimonial-img">
                      <img
                        src="{% static 'assets/images/clients/c1.png' %}"
                        alt="image of clients person"
                      />
                    </div>
                    <!--/.testimonial-img-->
                  </div>
                  <!--/.testimonial-info-->
                  <div class="testimonial-comment">
                    <p>
                      Sed ut pers unde omnis iste natus error sit voluptatem
                      accusantium dolor laudan rem aperiam, eaque ipsa quae ab
                      illo inventore verit.
                    </p>
                  </div>
                  <!--/.testimonial-comment-->
                  <div class="testimonial-person">
                    <h2><a href="#">tomas lili</a></h2>
                    <h4>new york</h4>
                  </div>
                  <!--/.testimonial-person-->
                </div>
                <!--/.testimonial-description-->
              </div>
              <!--/.single-testimonial-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-3 col-xs-12">
              <div class="single-testimonial-box">
                <div class="testimonial-description">
                  <div class="testimonial-info">
                    <div class="testimonial-img">
                      <img
                        src="{% static 'assets/images/clients/c2.png' %}"
                        alt="image of clients person"
                      />
                    </div>
                    <!--/.testimonial-img-->
                  </div>
                  <!--/.testimonial-info-->
                  <div class="testimonial-comment">
                    <p>
                      Sed ut pers unde omnis iste natus error sit voluptatem
                      accusantium dolor laudan rem aperiam, eaque ipsa quae ab
                      illo inventore verit.
                    </p>
                  </div>
                  <!--/.testimonial-comment-->
                  <div class="testimonial-person">
                    <h2><a href="#">romi rain</a></h2>
                    <h4>london</h4>
                  </div>
                  <!--/.testimonial-person-->
                </div>
                <!--/.testimonial-description-->
              </div>
              <!--/.single-testimonial-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-3 col-xs-12">
              <div class="single-testimonial-box">
                <div class="testimonial-description">
                  <div class="testimonial-info">
                    <div class="testimonial-img">
                      <img
                        src="{% static 'assets/images/clients/c3.png' %}"
                        alt="image of clients person"
                      />
                    </div>
                    <!--/.testimonial-img-->
                  </div>
                  <!--/.testimonial-info-->
                  <div class="testimonial-comment">
                    <p>
                      Sed ut pers unde omnis iste natus error sit voluptatem
                      accusantium dolor laudan rem aperiam, eaque ipsa quae ab
                      illo inventore verit.
                    </p>
                  </div>
                  <!--/.testimonial-comment-->
                  <div class="testimonial-person">
                    <h2><a href="#">john doe</a></h2>
                    <h4>washington</h4>
                  </div>
                  <!--/.testimonial-person-->
                </div>
                <!--/.testimonial-description-->
              </div>
              <!--/.single-testimonial-box-->
            </div>
            <!--/.col-->
          </div>
          <!--/.testimonial-carousel-->
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </section>
    <!--/.clients-say-->
    <!-- clients-say end -->

    <!--brand strat -->
    <section id="brand" class="brand">
      <div class="container">
        <div class="brand-area">
          <div class="owl-carousel owl-theme brand-item">
            <div class="item">
              <a href="#">
                <img
                  src="{% static 'assets/images/brand/br1.png' %}"
                  alt="brand-image"
                />
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#">
                <img
                  src="{% static 'assets/images/brand/br2.png' %}"
                  alt="brand-image"
                />
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#">
                <img
                  src="{% static 'assets/images/brand/br3.png' %}"
                  alt="brand-image"
                />
              </a>
            </div>
            <!--/.item-->
            <div class="item">
              <a href="#">
                <img
                  src="{% static 'assets/images/brand/br4.png' %}"
                  alt="brand-image"
                />
              </a>
            </div>
            <!--/.item-->

            <div class="item">
              <a href="#">
                <img
                  src="{% static 'assets/images/brand/br5.png' %}"
                  alt="brand-image"
                />
              </a>
            </div>
            <!--/.item-->

            <div class="item">
              <a href="#">
                <img
                  src="{% static 'assets/images/brand/br6.png' %}"
                  alt="brand-image"
                />
              </a>
            </div>
            <!--/.item-->
          </div>
          <!--/.owl-carousel-->
        </div>
        <!--/.clients-area-->
      </div>
      <!--/.container-->
    </section>
    <!--/brand-->
    <!--brand end -->

    <!--blog start -->
    <section id="blog" class="blog"></section>
    <!--/.blog-->
    <!--blog end -->

    <!--contact start-->
    <footer id="contact" class="contact">
      <div class="container">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="single-footer-widget">
                <div class="footer-logo">
                  <a href="index.html">carvilla</a>
                </div>
                <p>
                  Ased do eiusm tempor incidi ut labore et dolore magnaian
                  aliqua. Ut enim ad minim veniam.
                </p>
                <div class="footer-contact">
                  <p>info@themesine.com</p>
                  <p>+1 (885) 2563154554</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-6">
              <div class="single-footer-widget">
                <h2>about devloon</h2>
                <ul>
                  <li><a href="#">about us</a></li>
                  <li><a href="#">career</a></li>
                  <li>
                    <a href="#">terms <span> of service</span></a>
                  </li>
                  <li><a href="#">privacy policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="single-footer-widget">
                <h2>top brands</h2>
                <div class="row">
                  <div class="col-md-7 col-xs-6">
                    <ul>
                      <li><a href="#">BMW</a></li>
                      <li><a href="#">lamborghini</a></li>
                      <li><a href="#">camaro</a></li>
                      <li><a href="#">audi</a></li>
                      <li><a href="#">infiniti</a></li>
                      <li><a href="#">nissan</a></li>
                    </ul>
                  </div>
                  <div class="col-md-5 col-xs-6">
                    <ul>
                      <li><a href="#">ferrari</a></li>
                      <li><a href="#">porsche</a></li>
                      <li><a href="#">land rover</a></li>
                      <li><a href="#">aston martin</a></li>
                      <li><a href="#">mersedes</a></li>
                      <li><a href="#">opel</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3 col-sm-6">
              <div class="single-footer-widget">
                <h2>news letter</h2>
                <div class="footer-newsletter">
                  <p>Subscribe to get latest news update and informations</p>
                </div>
                <div class="hm-foot-email">
                  <div class="foot-email-box">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Add Email"
                    />
                  </div>
                  <!--/.foot-email-box-->
                  <div class="foot-email-subscribe">
                    <span><i class="fa fa-arrow-right"></i></span>
                  </div>
                  <!--/.foot-email-icon-->
                </div>
                <!--/.hm-foot-email-->
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="row">
            <div class="col-sm-6">
              <p>
                &copy; copyright.designed and developed by
                <a href="https://www.themesine.com/">themesine</a>.
              </p>
              <!--/p-->
            </div>
            <div class="col-sm-6">
              <div class="footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--/.footer-copyright-->
      </div>
      <!--/.container-->

      <div id="scroll-Top">
        <div class="return-to-top">
          <i
            class="fa fa-angle-up"
            id="scroll-top"
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Back to Top"
            aria-hidden="true"
          ></i>
        </div>
      </div>
      <!--/.scroll-Top-->
    </footer>
    <!--/.contact-->
    <!--contact end-->

    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="{% static 'assets/js/jquery.js' %}"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- bootsnav js -->
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>

    <!--owl.carousel.js-->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
